@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap');

:root{
    --primary-color:#0B60B0;
    --second-color:#FFFFFF;
    --black:#000;
    --tr-color:#DBA73A;
    --shade:#03056b85;
}
*{
    font-family: 'Baloo 2', sans-serif;
}
*,
*::after,
*::before{
    box-sizing: border-box;

}
html{
  padding: 2rem;
  background-color: var(--second-color);
}

body{
  display: flex;
  background-color: var(--primary-color);
  padding: 2rem;
  border-radius: 1rem;
}

/**************************** HEADER *********************/
header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15vw;
  border-radius: 15px;
  padding: .5rem;
  color: var(--second-color);
}

header nav ul{
  list-style: none;
  color: var(--second-color);
  margin-top: 2rem;
  padding: 0; 
}

header nav ul li a{
  font-size: 1.2rem;
  text-decoration: none;
  font-style: none;
  font-weight: bold;
  color: var(--second-color);
  margin-left: .2rem;
}
header nav ul li:hover{
  background-color: var(--shade);
  transform: scale(1.1);
  border-radius: .5rem;
  padding: .2rem;
  transition: all 1s;
}
header img{
  width: 160px;
  margin: 0;
  padding: 0;
}

/*********************** General container ***************************/
.general-container{
  width: 100%;
  background-color: var(--second-color);
  border-radius: 1rem;
  padding: 1rem;
}
/*********************** TOP-INFORMATION ***************************/
main .top-information{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
.date-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.2rem;
}
.profile-container{
  display: flex;
  align-items: center;
}
.profile-container img{
  margin-right: .5rem;
  width: 60px;
}
.profile-container span{
  font-weight: bold;
  font-size: 1.2rem;
}
.information-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.date-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--primary-color);
  font-weight: bold;
}
.rol-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.rol-container img{
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}
.links-container  a{
  font-weight: bold;
  text-decoration: none;
  font-style: none;
  padding: .2rem;
  color:#000;
}
.links-container  a:hover{
  color: var(--primary-color);
  text-decoration: underline;
}

/*************** TABLE-CONTAINER ********************/
.table-container{
  margin-top: 3rem;
  background-color: #ffffff;
  box-shadow: 3px 3px 5px  #6470e4;
  border-radius: 1rem;
 
}
.BD{
  width: inherit;
  height: auto;
}
.BD .register{
  display:flex;
  justify-content: space-between;
  padding: .5rem;
}
.BD  input{
  display: inline-block;
  width: 70%;
  padding: .5rem;
  border: solid 1px #d8d5d5;
  border-radius: .2rem;
  font-size: .8rem;
  font-weight: bold;
  color: var(--primary-color);
}
.register button{
  background-color:var(--second-color);
  border: 2px solid var(--primary-color) ;
  border-radius: .2rem;
  color: var(--primary-color);
  padding: .1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  margin-right: .5rem;
  transition: all 1s;

}.register button:hover{
  background-color:var(--primary-color);
  border: 2px solid var(--second-color) ;
  color: var(--second-color);
  transform: scale(1.1);
  border-radius: .8rem;

}

/************************* Table ***********************/
.table{
  display: table;
  width: 100%;
  height: auto;
  margin: auto;
  padding: .5rem 1rem;
  border-spacing: 0;
  border-radius: .5rem;
}
table{
  border-radius: .5rem;
}
.table thead{
  background-color:var(--primary-color);
  color:var(--second-color) ;
  padding: .5rem .2rem;
}
.table thead th{
  padding: .8rem 0.1rem;
  text-align:left;
  font-weight: bold;
  text-align: center;
}
table thead th:first-child{
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  padding-left: .2rem;
}
.table thead th:last-child{
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.table tbody{
  padding: .3rem 0;
}

.table tbody td{
  padding: .3rem 0.1rem;
  color: #000;
  font-weight: bold;
  background-color: #ffffff60;
  text-align: center;
}
.icon-table img{
  width: 30px;
  height: 25px;
  margin-right: .2rem;
  padding: 0;
}

.options-container{
  display: flex;
  justify-content: space-evenly;
}
.options-container span{
  width: 25px;
  height: 25px;
}

/********************* Form-container ***********************/
.general-container-form{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  background-color: #071b39c2;

}
.form-container{
  position: fixed;
  top: 20vh;
  left: 20%;
  display: flex;
  justify-content: space-between;
  width:60%;
  background-color:var(--primary-color);
  border-radius: 1rem;
  z-index: 999;
}
/********************* IMG-FORM-CONTAINER *******************/
.img-form-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  align-items: center;
  text-align: center;
  background-color: #001d49;
  border-radius: 1rem 0 0 1rem;
  padding: 2rem;
}
.img-form-container img{
  width: 150px;
  height: 150px;
}
.img-form-container h2,p{
  color: var(--second-color);
  font-weight: bold;
  font-size: 1.5rem;  
 }

/************************** FORM *********************************/
.form{
  background-color:var(--primary-color);
  border-radius: 1rem;
  padding: 1rem;
  width: 60%;
  color: var(--second-color);
  font-weight: bold;
  text-align: center;
}

form h2{
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

form input{
  display: block;
  padding: .5rem;
  border-radius: .5rem;
  border: 2px solid #8c8888;
}

 form  label{
  display: block;
  border-radius: .5rem;
  color: var(--primary-color);
  background-color: var(--second-color);
  padding: .3rem;
  margin-bottom: .5rem;
 } 

 form select{
  background-color: var(--second-color);
  border: 2px solid #cecbcb;
  color: var(--primary-color);
  margin-left: 2rem;
} 

.input-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}
.input-container input{
  width: 49%;
}

/****************************** BUTTONS ************************/

form button{
  width: 48%;
  background-color:var(--second-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
  padding: .2rem 4rem;
}
form button:hover{
  background-color:var(--shade);
  color: var(--second-color);
  transition: 1s;
}
form button:last-child{
  background-color: rgb(1, 164, 58);
  color: var(--second-color);
}
form button:last-child:hover{
  background-color: rgb(8, 103, 42);
  color: var(--second-color);
  transition: 1s;
}

.hidden-form{
  display: none;
  visibility: none;
}

@media (max-width:1200px){
  .form-container{
    width:80%;
  }
  form button{
    padding: .2rem 1.5rem;
    font-size: 1.2rem;
  }
}

@media (max-width:600px){
  /********************* Form-container ***********************/
  .hidden-responsive{
  visibility: none;
  display: none;
}
.form-container{
 flex-direction: column;
  width:90%;
  top: 20vh;
  left: 5%;
}
/************************** FORM *********************************/
.form{
  padding: 2rem;
  width: 100%;
}
/****************************** BUTTONS ************************/
form button{
  border-radius: .6rem;
  font-size: 1.2rem;
  padding: .5rem 1.5rem;
}
}

/********************* FOOTER ******************/

footer{
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 3rem;
  color: var(--second-color);
}
.logos-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logos-container img{
  width: 100px;
  height:100px;
 margin-right: .5rem;
}
.logos-container p{
  font-size: 1rem;
  padding: 0;
  margin-top: 0;
}
.footer h3{
  font-size: 1.2rem;
  font-weight: bold;
  margin:0;
  padding: 0;
}
.logos-container h3{
  font-size: 1.2rem;
  font-weight: bold;
  margin:0;
  padding: 0;
}
footer .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .info ul{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: .9rem;
}
footer .info ul li a{
  text-decoration: underline;
  font-size: none;
  color: var(--second-color);
}
footer .info h3{
  font-size: 1.2rem;
  font-weight: bold;
  margin: .2rem;
}

/*************************** MEDIA SCREEN ****************/
@media(max-width:1200px){
  html,body,header,.general-form-container{
    padding: 1rem;
  }
  header,.general-container{
    width: auto;
  }
  .box{
    width: 90%;
  }
}

@media (max-width:900px) {
  html,body,header,.general-container{
    padding: 1rem;
  }
   /*************** HEADER ***********/
  header{
    padding: 1rem 1rem 1rem 0;
  }
  header{
    width: auto;
  }
  .general-container{
    width: 75%;
  }
  header img{
    width: 130px;
  }
  header h2{
    font-size: 1.2rem;
  }
  header a{
    font-size: 1.1rem;
  }
   /********** MAIN TOP **********/

   .top-information .date-container{
    visibility: none;
    display: none;
  }
  .register button{
    padding: .1rem 1rem;
  }
  .BD  input{
    display: inline-block;
    width: 60%;
  }
   /********************* BANNER *******************/
   main h2{
    padding: .2rem;
    margin: 0;
  }
 main .top-information{
  padding: 0;
    margin: 0;
  }
  .table-container{
    border-radius: .7rem;
    overflow-x: auto;
}
.options-container span{
    padding: .2rem;
}
/* Table */

.table{
  width: auto;
    padding: .3rem .5rem;
    font-size: .9rem;
}

.table thead th{
    padding: .2rem 0.2rem;
}
.table tbody td{
    padding: .2rem 0.5rem;
}
.register button{
  padding: .5rem .3rem;
}
  /****** Footer *****/
  footer div:nth-child(3){
    display: none;
    visibility: none;
  }
 .logos-container h3,.info h3,f{
  font-size:1rem;
  margin: 0;
  padding: .2rem;
 }
 .logos-container p{
  margin: 0 0 .5rem 0;
  padding: .2rem;
  font-size: .8rem;
 } 
 footer .info ul li{
  margin: 0;
  padding: .2rem;
  font-size: .8rem;
 }
}
@media (max-width:600px) {


  html, body, header,.general-container{
    padding: .5rem;
  }
  body{
    flex-direction: column;
  }
  /*************** HEADER ***********/
  header img{
    width: 100px;
  }
  header h2{
    font-size: 1.5rem;
  }
  header a{
    font-size: 1rem;
  }
  header nav ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: .5rem;
    font-size: 1.5rem;
  }
  .general-container{
    width: auto;
  }
  /********** MAIN TOP **********/
  .top-information h2{
    display: block;
    
  }
  .top-information h2{
    display: block;
    visibility:visible;
  }

  /****** Footer *****/
  .logos-container img{
    margin: 0;
    padding: 0;
    width: 80px;
  }
  footer{
    flex-direction: column;
   align-items: center;
  }
}



